$accent-color: #D7B399;
$secondary-color: #F9F6F1;
$accent-dark: #212121;
$secondary-accent: #D84033;
$special-accent: #d84033;
$btn-bg: #cecece;
$input-color: #8D8D8D;
$footer-link-color: #cbcfd4;
$light: #fff;
$dark: #000;
$main-font: 'Montserrat', sans-serif;
