@import '../vars';

.footer {

  &__info {
    padding-top: 73px;
    padding-bottom: 78px;
    background-color: $accent-dark;
    color: $light;
  }

  &__inner {
    display: flex;
    flex-wrap: wrap;
  }

  &__text {
    width: 205px;
    margin-right: 223px;
    font-size: 14px;
    line-height: 22px;
  }

  &__main-links {
    width: 116px;
    margin-right: 84px;
  }

  &__categories {
    width: 124px;
    margin-right: 76px;
  }

  &__links {
    width: 137px;
  }

  & h3 {
    margin: 10px 0 20px 0;
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
    text-transform: uppercase;
  }

  & ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  & li {
    padding: 0;
    margin-bottom: 10px;
  }

  & ul a {
    color: $footer-link-color;
    text-decoration: none;
    font-size: 14px;
    line-height: 22px;
  }

  &__socials {
    width: 102px;
    margin-left: auto;
  }

  &__copy-inner {
    display: flex;
    justify-content: space-between;
  }

  &__copy p {
    width: 50%;
  }

  &__copy p:last-child {
    text-align: right;
  }

  &__privacy {
    color: $accent-dark;
    font-size: 14px;
    line-height: 22px;
    text-decoration: none;
  }

}
