@import '../vars';

.info {
  background-color: $dark;
  color: $light;

  &__inner {
    max-width: 590px;
    margin: 0 auto;
    padding-top: 80px;
    padding-bottom: 70px;
    text-align: center;
  }

  &__title {
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.02em;

    & span {
      font-weight: 300;
    }
  }

  &__txt {
    font-weight: 300;
    font-size: 21px;
    line-height: 26px;
    text-align: center;
  }
}
