.subscribe {

  &__inner {
    max-width: 100%;
    display: grid;
    grid-template-columns: 575px 475px;
    grid-gap: 65px;
    align-content: center;
  }

  &__title {
    margin: 0;
    text-align: left;
  }

  &__email {
    width: 255px;
    height: 40px;
    margin-right: 35px;
    padding: 13px 20px;
    background-color: #fff;
    border: none;
    font-weight: 300;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    letter-spacing: 0.02em;
    color: $input-color;
    text-align: left;
  }

  &__btn {
    padding: 11px 14px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
  }


}
